.container .drop:nth-child(1) p,
.container .drop:nth-child(2) p{
    font-size:15px;
}
.container .drop:nth-child(3) p,
.container .drop:nth-child(4) p,
.container .drop:nth-child(5) p{
    font-size:13px;
    padding: 5px 50px;
}
.container .drop:nth-child(1) ul{
    font-size:15px;
}
.container .drop .content pre{
    font-size:15px;
}
.container .drop .content h2{
    height: 130px;
    width: 130px;
    margin-top: 0px;
}
.container .drop .content{
    padding: 50px;
}
.container .drop:nth-child(1),
.container .drop:nth-child(2){
    height: 450px;
    width: 500px;
    border-radius: 50%;
}
.container .drop:nth-child(3),
.container .drop:nth-child(4),
.container .drop:nth-child(5){
    height: 600px;
    width: 500px;
    border-radius: 50%;
}
.pre{
    border-radius: 5px;
    margin: 35px auto;
    width: 700px;
    color:rgb(243, 155, 47)
}
.pre span{
    color: #13005A;
}
/*media query */
@media (max-width:500px){
.container .drop:nth-child(1),
.container .drop:nth-child(2){
    height: 550px;
    width: 350px;
}
.container .drop:nth-child(3),
.container .drop:nth-child(4),
.container .drop:nth-child(5){
    height: 700px;
    width: 370px;
}
.container .drop:nth-child(3) p,
.container .drop:nth-child(4) p,
.container .drop:nth-child(5) p{
    padding: 5px 35px;
}
.pre{
    width:290px
}

}
