:root{
    --blue:#2273F8;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

*::selection{
    background:var(--blue);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.btn{
    font-size: 2rem;
    padding:.7rem 3.5rem;
    border-radius: 5rem;
    color:#fff;
    background:var(--blue);
    margin-top: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    cursor: pointer;
    border:none;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    height:100%;
    width:0%;
    background:#333;
    z-index: -1;
    transition: .2s linear;
}

.btn:hover::before{
    left: 0;
    width:100%;
}

header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding-right:3.5rem;
    background:var(--blue);
}

header .logo{
    font-family: 'Instrument Serif', serif;
    font-weight: bold;
    font-size: 3rem;
    color:#000000;
}

header .logo i{
    padding:1rem;
    font-size: 3.5rem;
    color:#0B2447;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:url(../img/home.png) no-repeat;
    background-size: 140% 85%;
    background-position: top;
    padding:1.5rem 7%;
    padding-top: 4rem;;
}

.home .image{
    flex:1 1 40rem;
    padding-top: 1rem;
}

.home .image img{
    width:100%;
}

.home .cont{
    flex:1 1 40rem;
    padding-top: 5rem;
}

.home .cont h1{
    font-size: 3rem;
    color:#000000;
}

.home .cont p{
    font-size: 1.8rem;
    color:#eee;
    padding:.5rem 2rem;
    line-height: 27px;
}
.home .cont ul{
    font-size: 1.5rem;
    color:#eee;
    list-style: none;
    padding:.5rem 5rem;
} 
.home .cont ul li::before {
    content: "\2022";
    color: black;
    display: inline-block; 
    width: 1em;
    margin-right: -1em;
  }

.home .cont .btn{
    background:#fff;
    color:#333;
}

.home .cont .btn:hover{
    color:#fff;
}
.footer{
    background:#0a4495;
   text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 12px;
}
.footer a{
    text-decoration: none;
    color:rgb(6, 205, 205);
}
.footer a:visited{
    color:rgb(6, 205, 205);
}



/*media query */
@media (max-width:500px){

    html{
        font-size:45%;
    }
    .home .cont h1{
        font-size:3rem ;
        margin-top: 7px;
    }
}

